*, body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background: url(../IMAGES/train.jpg);
    background-repeat: no-repeat;
}

.two {
	position: relative;
	width: 55%;
	background-color: rgba(10,10,15,0.5);
	height: 400px;
	position: relative;
	left:22.5%;
	top:65px;
	color: white;
	font-family: serif;
	border-radius: 20px;
}

.two .twop1{
	position: absolute;
	width: 40%;
	left: 30%;
	height:50px;
	background-color: rgba(10,10,15,0.8);
	line-height:50px;
	text-align:center;
	border-radius: 30px;
}

.two .twop2{
	position: absolute;
	width: 100%;
	height:335px;
	top: 65px;
	/* background-color: rgba(100,100,15,0.8); */
	/* border: 2px solid #111; */
    font-size: 20px;
	overflow:hidden;
}

.two .twop2 h4{
	position: absolute;
	width: calc(100% - 20px);
	top: 0px;
	left: 20px;
	height:35px;
	line-height:35px;
}

.two .twop2 table{
	width: calc(100% - 75px);
	position: absolute;
	height: 280px;
	top: 55px;
	left: 75px;
	/* border: 1px solid #111; */
	border-collapse: collapse;
	table-layout:fixed;
}

.two .twop2 table tr{
	position: relative;
	width: 100%;
	height: 40px;
	line-height: 50px;
}

.two .twop2 table #link a{
	color: cyan;
	font-weight: bold;
	font-size: 24px;
	text-decoration: underline;
	/*position: absolute;
	right: 25px;*/
	/* border: 1px solid #111eee; */
}

.two .twop2 table td{
	text-align: left;
	/*padding: 8px;*/
	position: relative;
	/*border: 1px solid black;*/
}
.two .twop2 table tr td input{
	position: relative;
	left: 10%;
	width: 80%;
	height: 40px;
	padding: 5px 10px;
	border-radius: 20px;
}
input::placeholder{
	text-align: center;
}

.two table tr td .btnNEXTdiv{
	position: relative;
	width: 25%;
	height: 50px;
	left: 35%;
	top: -10px;
	/*background: green;*/
	border-radius: 20px;
}
.two #btnNEXT{
	position: absolute;
	top: 5px;
	left: 5%;
	width: 90%;
	height: 40px;
	color: white;
	font-size: 18px;
	font-weight: bolder;
}
.two .invalid{
	background: darkred;
	border-radius: 0px !important;
}
.two .invalid:hover{
	cursor: not-allowed;
}
.two .valid{
	background: darkgreen;
	transition: 0.1s ease-in;
}

.two .valid:hover{
	cursor: pointer;
	width: 100% !important;
	height: 45px !important;
	border-radius: 20px !important;
}
.two #btnNEXTdiv_tooltip{
	position: absolute;
	left: 62%;
	top: -5px;
	width: 280px;
	line-height: 20px;
	/*background-color: #a60000;*/
	color: #fff;
	box-shadow: 0px 0px 25px #a60000 inset;
	font-weight: bolder;
	border-radius: 20px;
	padding: 5px;
	z-index: 2;
	opacity: 1;
	display: none;
	font-size: 18px;
	border: 4px ridge darkred;
}
.two #btnNEXTdiv_tooltip::before {
	content: "";
	position: absolute;
	left: -22px;
	top: 12px;
	border-width: 10px;
	border-style: ridge;
	border-color: transparent darkred transparent transparent;
}
.wrong {
	background-color: #a60000;
	color: #fff;
	text-align: right;
	border-radius: 20px;
	padding: 0px 10px;
	position: absolute;
	z-index: 1;
	bottom: 60px;
	right: 18px;
	opacity: 1;
	max-height: 35px;
	line-height: 35px;
	/*display: none;*/
	/* border: 5px solid #a60000; */
	/* transition: opacity 0.3s; */
    white-space: nowrap;
}
.correct {
	background-color: #48871f;
	color: #fff;
	text-align: right;
	border-radius: 20px;
	padding: 0px 15px;
	position: absolute;
	z-index: 1;
	bottom: 60px;
	right: 18px;
	opacity: 1;
	max-height: 35px;
	line-height: 35px;
	display: none;
	/* border: 5px solid #a60000; */
	/* transition: opacity 0.3s; */
	white-space: nowrap;
}
.wrong1 {
	background-color: orange;
	color: #fff;
	text-align: center;
	border-radius: 20px;
	padding: 0px 10px;
	position: absolute;
	left: -220px;
	top: -5px;
	z-index: 5;
	opacity: 1;
	max-height: 35px;
	line-height: 35px;
	/*display: none;*/
	/* border: 5px solid #a60000; */
	/* transition: opacity 0.3s; */
    white-space: nowrap;
}
.wrong::after {
	content: "";
	position: absolute;
	bottom: -16px;
	right: 10px;
	/* margin-left: -5px; */
	border-width: 10px;
	border-style: solid;
	border-color: #a60000 transparent transparent transparent;
}
.correct::after {
	content: "";
	position: absolute;
	bottom: -16px;
	right: 10px;
	border-width: 10px;
	border-style: solid;
	border-color: #48871f transparent transparent transparent;
}
.wronginput {
	box-shadow:inset 0 0 4px 1px rgba(255, 0, 0, 0.6);
	border: 2px solid darkred;
}

.correctinput {
	box-shadow:inset 0 0 4px 1px rgba(0, 255, 0, 0.6);
	border: 2px solid darkgreen;
}
.three{
	position: absolute;
	top: 480px;
	border-radius: 50%;
	font-size: 40px;
	width: 80px;
	height: 80px;
	line-height: 60px;
	font-weight: bold;
	left: 48.5%;
	padding: 10px;
	background-color: black;
	color: yellow;
}

.four{
	position: absolute;
	top: 570px;
	left: 35%;
	width: 30%;
	height: 60px;
}
.four input{
	width: 100%;
	height: 90%;
	font-size: 35px;
	border-radius: 45px;
	color: white;
	background-color: darkred;
	transition: 0.1s ease-in;
}
.four input:hover{
	width: 105%;
	height: 95%;
	background-color: darkgreen;
	cursor: pointer;
	box-shadow: 5px 5px 15px 5px darkgreen;
}