        <form action="{{ url_for('bookadd')}}" method="POST"> 
		<h5>Enter the book Details</h5>
		<div>
            <input type="text" name="isbn" placeholder="ISBN">
        </div>
		<div>
            <input type="text" name="title" placeholder="Title">
        </div>
		<div>
            <input type="text" name="author" placeholder="Author">
        </div>
		<div>
            <input type="text" name="year" placeholder="Year">
        </div>
		<div>
			<button>Submit</button>
		</div>
		</form>