<!DOCTYPE html>
<html>
	<head>
		<title>Railway Admin Home</title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" type="text/css" href="../CSS/admin_home.css">
		
		<script type="text/javascript" src="../JS/Jquery.js"></script>
		<script type="text/javascript" src="../JS/admin_home.js"></script>
	</head>
	<body>
		<div class="two">
			<div class="twop1">
				<img src="../IMAGES/avatar.png">
			</div>
			<div class="twop2">
				<h3>Insert the train number or date to search</h3>
				<br>
				<form>
					<div class="twop2p1">
						Train no. <input id="train" type="text" name="train" size="40" placeholder="Enter Train Number"  required/>
					</div>
					<div class="twop2p1">
						Date <input id="doj" type="date" name="doj" size="40" required/>
					</div>
					<input type="submit" name="btnSearch" value="search">
				</form>
			</div>
		</div>
	</body>
</html>