<!DOCTYPE html>
<html>
	<head>
		<title>Railway User Registration</title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" type="text/css" href="../CSS/booking_agent_register.css">
		
		<script type="text/javascript" src="../JS/Jquery.js"></script>
		<!-- <script type="text/javascript">
			var found="<%=(String)session.getAttribute("notFound")%>";
			if(found!="null"){
				$(document).ready(function() {
					$("#msgp2").text(found);
					$(".six").css("display", "block");
					$("#sixp2").css("display", "block");
				});
				<%
					session.removeAttribute("notFound");
					System.out.println("checking in Registration1.jsp found attr "+(String)session.getAttribute("notFound"));
				%>
			}
			
			var already="<%=(String)session.getAttribute("already")%>";
			if(already!="null"){
				$(document).ready(function() {
					$("#msgp2").text(found);
					$(".six").css("display", "block");
					$("#sixp1").css("display", "block");
					$("#sixp1p1").css("display", "none");
					setTimeout(function(){
						$(".six").css("display", "none");
						window.location.href="Login.jsp";
					}, 5000);
				});
				<%
					session.removeAttribute("already");
					System.out.println("already attr "+(String)session.getAttribute("already"));
				%>
			}
		
			//document.addEventListener('contextmenu', event => event.preventDefault());
			/*
			This code will block the right click of mouse, Ctrl + Shift + I, Ctrl+ Shift + J, Ctrl + S, Ctrl + U, and F12 key.
			The F12 key uses for looking the source code of page, so it also need be disabled.
			https://mycyberuniverse.com/developing/disabling-right-clicking-by-using-javascript.html
			*/
			window.onload = function() {
			    document.addEventListener("contextmenu", function(e){
			      e.preventDefault();
			    }, false);
			    document.addEventListener("keydown", function(e) {
			    //document.onkeydown = function(e) {
			      // "I" key
			      if (e.ctrlKey && e.shiftKey && e.keyCode == 73) {
			        disabledEvent(e);
			      }
			      // "J" key
			      if (e.ctrlKey && e.shiftKey && e.keyCode == 74) {
			        disabledEvent(e);
			      }
			      // "S" key + macOS
			      if (e.keyCode == 83 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
			        disabledEvent(e);
			      }
			      // "U" key
			      if (e.ctrlKey && e.keyCode == 85) {
			        disabledEvent(e);
			      }
			      // "F12" key
			      if (event.keyCode == 123) {
			        disabledEvent(e);
			      }
			    }, false);
			    function disabledEvent(e){
			      if (e.stopPropagation){
			        e.stopPropagation();
			      } else if (window.event){
			        window.event.cancelBubble = true;
			      }
			      e.preventDefault();
			      return false;
			    }
			  };
		</script> -->
	</head>
	<body>
		<div class="two">
			<div class="twop1">
				<h1>Registration of a new user</h1>
			</div>
			<form action="{{ url_for('register')}}" method="post">
				<div class="twop2">
					<table>
						<tr>
						    <td width="40%">Enter Your Name* :</td>
						    <td width="40%"><input id="fname" type="text" name="fname" size="60" placeholder="Enter First Name" required/></td>
						    <td width="5%"><img id="fnameimg" src="img/wrong.png" alt="wrong" hidden="true"/></td>
						    <td width="40%"><input id="lname" type="text" name="lname" size="60" placeholder="Enter Last Name" required/></td>
						    <td width="5%"><img id="lnameimg" src="img/wrong.png" alt="wrong" hidden="true"/></td>
					    </tr>
					    <tr>
							<td>Date-of-Birth*: </td>
						    <td><input id="dob" type="date" name="dob" size="40" required/></td>
							<td><img id="dobimg" src="img/wrong.png" alt="wrong" hidden="true"/></td>
							<td>Gender: </td>
						    <td>
						    	<select id="genderlist" name="genderlist" required>
						    		<option value="0">-- Choose Your Gender --</option>
						    		<option value="MALE">MALE</option>
								  	<option value="FEMALE">FEMALE</option>
								  	<option value="OTHER">OTHER</option>
								</select>
							</td>
							<td><img id="genderimg" src="img/wrong.png" alt="wrong" hidden="true"/></td>
					    </tr>
					    <tr>
						    <td>Enter Your Email-id* : </td>
						    <td colspan="3"><input id="email" type="text" name="email" size="40" placeholder="Enter Your Email-id"  required/></td>
						    <td><img id="emailimg" src="img/wrong.png" alt="wrong" hidden="true"/></td>
					    </tr>
					    <tr>
						    <td>Enter Your Phone No.* : </td>
						    <td colspan="3"><input id="phone" type="text" name="phone" size="40" placeholder="Enter Your Phone Number"  required/></td>
						    <td><img id="phoneimg" src="img/wrong.png" alt="wrong" hidden="true"/></td>
					    </tr>
					    <tr>
						    <td>Enter Your Address : </td>
						    <td><textarea id="address" name="address" rows="3" cols="93" placeholder="Enter Your Address"></textarea></td>
						    <td><img id="addressimg" src="img/wrong.png" alt="wrong" hidden="true"/></td>
					    </tr>
					</table>
				</div>
				<div class="twop3">
					<h4>Care: Username and Password are case sensitive</h4>
					<table>
					    <tr>
						    <td>Enter a password* : </td>
						    <td colspan="3"><input id="pass" type="password" name="pass" size="40" placeholder="Enter a password"  required/></td>
						    <td><img id="passimg" src="img/wrong.png" alt="wrong" hidden="true"/></td>
					    </tr>
					    <tr>
						    <td>Re-enter password* : </td>
						    <td colspan="3"><input id="cnfpass" type="password" name="cnfpass" size="40" placeholder="Re-enter password"  required/></td>
						    <td><img id="cnfpassimg" src="img/wrong.png" alt="wrong" hidden="true"/></td>
					    </tr>
					    
					    <tr>
						    <td>Choose a user name* : </td>
						    <td colspan="3"><input id="uname" type="text" name="uname" size="40" placeholder="Enter A User Name that has not been taken" required/></td>
					    	<td><img id="unameimg" src="img/wrong.png" alt="wrong" hidden="true"/></td>
					    </tr>
					    <tr id="termsrow">
					    	<td id="terms" colspan="2">
					    		<input id="chkbox" type="checkbox" name="chkbox" value="accept"/>&nbsp;&nbsp;I ACCEPT THE <a href="Terms.html" target="_blank">TERMS AND LICENSE AGREEMENT</a>
					    	</td>
					    </tr>
					    <tr>
					    	<td><input class="grow reset" type="button" name="btnRESET" value="RESET"></td>
						    <td colspan="2"><input class="next" type="button" name="btnNEXT" value="NEXT" disabled></td>
					    </tr>

					</table>
					<h3>Note: The fields marked with * are compulsory</h3>
				</div>
			</form>
		</div>
		<div class="five">
			<img alt="loading" src="gifs/loading.gif">
			<h1>PROCESSING</h1>
		</div>
		<div class="six">
			<div id="sixp1">
				<h2 id="msgp1">Redirecting to Email Verify Page</h2>
				<img id="sixp1p1" alt="next" src="gifs/next.gif">
			</div>
			<div id="sixp2">
				<h2 id="msgp2">Error Messages</h2>
				<img id="sixp2p1" alt="wrong" src="gifs/wrong2.png">
			</div>
		</div>
	</body>
</html>