<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ISBN</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Year</th>
      </tr>
    </thead>
      {% for book in books %}
      <tr>
      <th scope="row">{{book.bookid}}</th>
      <td>{{book.isbn}}
      </td>
      <td>{{book.title}}
      </td>
      <td>{{book.author}}
      </td>
      <td>{{book.year}}
      </td>
      </tr>
      {% endfor %}
  </table>
  