<!DOCTYPE html>
<html>
	<head>
		<title>Railway Admin Home</title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" type="text/css" href="../static/CSS/admin_home.css">
		
		<script type="text/javascript" src="../static/JS/Jquery.js"></script>
		<script type="text/javascript" src="../static/JS/admin_home.js"></script>
	</head>
	<body>
		<div class="one">
			<div class="onep1">
				<img src="../static/IMAGES/avatar.png">
				<div class="onep1p1">Welcome, <span>oufgidfgyuvhhhvhjvfsdgfhg</span></div>
			</div>
		</div>
		<div class="two">
			<div class="twop1">
				<div class="twop1p1 active" id="twop1p1">View Trains Info</div>
				<div class="twop1p1" id="twop1p2">Add Trains Info</div>
			</div>
		</div>
		<div class="three">
			<div class="threep1">
				<h2>Insert the train number and/or date to search</h2>
				<br>
				<form action="admin_show_train" method="post" id="admin_show_train">
					<div class="threep1p1">
						4-digit Train no. <input id="train" type="text" name="trainno" size="40" placeholder="Enter Train Number"/>
						<div id = "threep1p1_input_train_tooltip">The train number must be of 4 digits</div>
					</div>
					<div class="threep1p1">
						Start Date of Journey <td><input id="doj" type="text" name="doj" size="40" placeholder="Enter Start Date of Journey" onfocus="(this.type='date')" onblur="(this.type='text')" required/></td>
					</div>
					<div id="threep1p1btn"><input id="btnSearch" class = "invalid" type="button" name="btnSearch" value="Show" disabled></div>
					<div id="threep1p1_btn_show_tooltip">This button is disabled because both the fields are empty now.</div>
				</form>
			</div>
			<div class="threep2">
				<table id="threep2p1">
					<tr>
						<th>Sl. no</th>
						<th>Train Number</th>
						<th>Source</th>
						<th>Start Date of Journey</th>
						<th>Start Time</th>
						<th>Destination</th>
						<th>End Date of Journey</th>
						<th>End Time</th>
						<th>#AC coaches</th>
						<th>AC Fare</th>
						<th>#SL coaches</th>
						<th>SL Fare</th>
						<th>#AC Seats Available</th>
						<th>#SL Seats Available</th>
					</tr>
				</table>
			</div>
		</div>
		<div class="four">
			<form action="admin_add_train" method="post" id="admin_add_train">
				<table>
					<h2>Primary Key (Train no, doj)</h2>
					<tr>
						<td>Enter Train No. : </td>
						<td colspan="4"><input id="trainno2" type="text" name="trainno2" size="40" placeholder="Enter Train Number" required/></td>
						<td><img id="trainno2img" src="../static/IMAGES/wrong.gif" alt="wrong" hidden="true"/></td>
						<td><span></span><span></span></td>
					</tr>
					<tr>
						<td width="30%">Enter Source and Destination :</td>
						<td width="32%"><input id="source" type="text" name="source" size="40" placeholder="Enter Source Station Name" required/></td>
						<td width="2%"><img id="sourceimg" src="../static/IMAGES/wrong.gif" alt="wrong" hidden="true"/></td>
						<td width="1%"><span></span><span></span></td>
						<td width="32%"><input id="dest" type="text" name="dest" size="40" placeholder="Enter Destination Station Name" required/></td>
						<td width="2%"><img id="destimg" src="../static/IMAGES/wrong.gif" alt="wrong" hidden="true"/></td>
						<td width="1%"><span></span><span></span></td>
					</tr>
					<tr>
						<td>Enter Start and End time :</td>
						<td><input id="start_time" type="text" name="start_time" size="40" placeholder="Enter Start Time" onfocus="(this.type='time')" onblur="(this.type='text')" required/></td>
						<td><img id="start_timeimg" src="../static/IMAGES/wrong.gif" alt="wrong" hidden="true"/></td>
						<td><span></span><span></span></td>
						<td><input id="end_time" type="text" name="end_time" size="40" placeholder="Enter End Time" onfocus="(this.type='time')" onblur="(this.type='text')" required/></td>
						<td><img id="end_timeimg" src="../static/IMAGES/wrong.gif" alt="wrong" hidden="true"/></td>
						<td><span></span><span></span></td>
					</tr>
					<tr>
						<td>Enter Date of Journey : </td>
						<td><input id="start_doj" type="text" name="start_doj" size="40" placeholder="Enter Start Date of Journey" onfocus="(this.type='date')" onblur="(this.type='text')" required/></td>
						<td><img id="start_dojimg" src="../static/IMAGES/wrong.gif" alt="wrong" hidden="true"/></td>
						<td><span></span><span></span></td>
						<td><input id="end_doj" type="text" name="end_doj" size="40" placeholder="Enter End Date of Journey" onfocus="(this.type='date')" onblur="(this.type='text')" required/></td>
						<td><img id="end_dojimg" src="../static/IMAGES/wrong.gif" alt="wrong" hidden="true"/></td>
						<td><span></span><span></span></td>
					</tr>
					<tr>
						<td>Enter Number of AC and SL coaches :</td>
						<td><input id="ac_coaches" type="text" name="ac_coaches" size="40" placeholder="Enter Number of AC coaches" required/></td>
						<td><img id="ac_coachesimg" src="../static/IMAGES/wrong.gif" alt="wrong" hidden="true"/></td>
						<td><span></span><span></span></td>
						<td><input id="sl_coaches" type="text" name="sl_coaches" size="40" placeholder="Enter Number of SL coaches" required/></td>
						<td><img id="sl_coachesimg" src="../static/IMAGES/wrong.gif" alt="wrong" hidden="true"/></td>
						<td><span></span><span></span></td>
					</tr>
					<tr>
						<td>Enter Fare of SL and AC coaches :</td>
						<td><input id="ac_fare" type="text" name="ac_fare" size="40" placeholder="Enter Fare of AC coach" required/></td>
						<td><img id="ac_fareimg" src="../static/IMAGES/wrong.gif" alt="wrong" hidden="true"/></td>
						<td><span></span><span></span></td>
						<td><input id="sl_fare" type="text" name="sl_fare" size="40" placeholder="Enter Fare of Sleeper coach" required/></td>
						<td><img id="sl_fareimg" src="../static/IMAGES/wrong.gif" alt="wrong" hidden="true"/></td>
						<td><span></span><span></span></td>
					</tr>
					<tr>
						<td id="btnNEXTtd" colspan="7">
							<div class="btnNEXTdiv"><input class="invalid1" id="btnNEXT" type="button" name="btnNEXT" value="SUBMIT" disabled></div>
							<div id="btnNEXTdiv_tooltip">This button is disabled because some fields have incorrect/empty inputs.<br/>All fields are neccessary</div>
						</td>
					</tr>
				</table>
			</form>
		</div>
		<div class="five">
			<img alt="loading" src="../static/IMAGES/loading.gif">
			<h1>PROCESSING</h1>
		</div>
	</body>
</html>