<!DOCTYPE html>
<html>
	<head>
		<title>Railway Admin Login</title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" type="text/css" href="../static/CSS/admin_login.css">
		
		<script type="text/javascript" src="../static/JS/Jquery.js"></script>
		<script type="text/javascript" src="../static/JS/admin_login.js"></script>
	</head>
	<body>
		<div class="two">
			<div class="twop1">
				<h1>Login</h1>
			</div>
			<div class="twop2">
				<h4>Care: Username and Password are case sensitive</h4>
				<form action="/admin_login" method="post">
					<table>
						<tr>
						    <td width="44%">Enter User Name: </td>
						    <td width="55%"><input id="uname" type="text" name="uname" size="40" autofocus placeholder="Enter User Name" required/></td>
						    <td width="1%"><span></span><span></span></td>
					    </tr>
					    <tr>
						    <td>Enter password: </td>
						    <td><input id="pass" type="password" name="pass" size="40" placeholder="Enter your password" required/></td>
						    <td><span></span><span></span></td>
					    </tr>
					    <tr id="link">
					    	<td colspan="2"><a href="#">Forgot Password?</a></td>
					    </tr>
					    <tr>
					    	<td id="btnNEXTtd" colspan="2">
								<div class="btnNEXTdiv"><input class="invalid" id="btnNEXT" type="button" name="btnNEXT" value="NEXT" disabled></div>
								<div id="btnNEXTdiv_tooltip">This button is disabled because Username or password is empty</div>
							</td>
					    </tr>
					</table>
				</form>
			</div>
		</div>
		<div class="three">
			OR
		</div>
		<div class="four">
			<input id="btnREGISTER" type="button" name="btnREGISTER" value="REGISTER NEW USER"/>
		</div>
	</body>
</html>