<!DOCTYPE html>
<html>
	<head>
		<title>Railway User Registration</title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" type="text/css" href="../static/CSS/booking_agent_register.css">
		
		<script type="text/javascript" src="../static/JS/Jquery.js"></script>
		<script type="text/javascript" src="../static/JS/booking_agent_register.js"></script>
	</head>
	<body>
		<div class="two">
			<div class="twop1">
				<h1>Registration of a new user</h1>
			</div>
			<form action="register-form" method="POST" id="register-form">
				<div class="twop2">
					<table id="twop3p1">
						<tr>
							<td width="20%">First Name :</td>
							<td width="28%"><input id="fname" type="text" name="fname" size="40" placeholder="Enter First Name" required/></td>
							<td width="5%"><img id="fnameimg" src="../static/imaGes/wrong.gif" alt="wrong" hidden="true"/></td>
							<td width="1%"><span></span><span></span></td>
							<td width="12%">Last Name :</td>
							<td width="28%"><input id="lname" type="text" name="lname" size="40" placeholder="Enter Last Name" required/></td>
							<td width="5%"><img id="lnameimg" src="../static/imaGes/wrong.gif" alt="wrong" hidden="true"/></td>
							<td width="1%"><span></span><span></span></td>
						</tr>
						<tr>
							<td>Date-of-Birth: </td>
							<td><input id="dob" type="text" name="dob" size="40" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Choose Date-of-Birth" required/></td>
							<td><img id="dobimg" src="../static/imaGes/wrong.gif" alt="wrong" hidden="true"/></td>
							<td><span></span><span></span></td>
							<td>Gender: </td>
							<td>
								<select id="gender" name="gender" required>
									<option value="0">-- Choose Your Gender --</option>
									<option value="M">MALE</option>
									<option value="F">FEMALE</option>
									<option value="O">OTHER</option>
								</select>
							</td>
							<td><img id="genderimg" src="../static/imaGes/wrong.gif" alt="wrong" hidden="true"/></td>
							<td><span></span><span></span></td>
						</tr>
						<tr>
							<td>Email-id : </td>
							<td><input id="email" type="text" name="email" size="40" placeholder="Enter Your Email-id"  required/></td>
							<td><img id="emailimg" src="../static/imaGes/wrong.gif" alt="wrong" hidden="true"/></td>
							<td><span></span><span></span></td>
							<td>Phone No. : </td>
							<td><input id="phone" type="text" name="phone" size="40" placeholder="Enter Your Phone Number"  required/></td>
							<td><img id="phoneimg" src="../static/imaGes/wrong.gif" alt="wrong" hidden="true"/></td>
							<td><span></span><span></span></td>
						</tr>
						<tr>
							<td>Enter Your Address : </td>
							<td colspan="5"><textarea id="address" name="address" rows="3" cols="93" placeholder="Enter Your Address"></textarea></td>
							<td><img id="addressimg" src="../static/imaGes/wrong.gif" alt="wrong" hidden="true"/></td>
							<td><span></span><span></span></td>
						</tr>
					</table>
				</div>
				<hr>
				<div class="twop3">
					<table id="twop3p2">
						<tr>
							<td width="20%">User name : </td>
							<td width="28%"><input id="uname" type="text" name="uname" size="40" placeholder="Enter A User Name that has not been taken" required/></td>
							<td width="5%"><img id="unameimg" src="../static/imaGes/wrong.gif" alt="wrong" hidden="true"/></td>
							<td width="1%"><span></span><span></span></td>
							<td width="12%">Credit card number : </td>
							<td width="28%"><input id="creditcard" type="text" name="creditcard" size="40" placeholder="Enter your credit card number" required/></td>
							<td width="5%"><img id="creditcardimg" src="../static/imaGes/wrong.gif" alt="wrong" hidden="true"/></td>
							<td width="1%"><span></span><span></span></td>
						</tr>
						<tr>
							<td>Enter a password : </td>
							<td><input id="pass" type="password" name="pass" size="40" placeholder="Enter a password"  required/></td>
							<td><img id="passimg" src="../static/imaGes/wrong.gif" alt="wrong" hidden="true"/></td>
							<td><span></span><span></span></td>
							<td>Re-enter password : </td>
							<td><input id="cnfpass" type="password" name="cnfpass" size="40" placeholder="Re-enter password" autofocus="true" disabled required/></td>
							<td><img id="cnfpassimg" src="../static/imaGes/wrong.gif" alt="wrong" hidden="true"/></td>
							<td><span></span><span></span></td>
						</tr>
						<tr>
							<td id="btnNEXTtd" colspan="8">
								<div class="btnNEXTdiv">
									<input class="invalid" id="btnNEXT" type="button" name="btnNEXT" value="REGISTER" disabled>
								</div>
								<div id="btnNEXTdiv_tooltip">
									This button is disabled because some fields have incorrect/empty inputs.<br/>All fields are neccessary
								</div>
							</td>
						</tr>
					</table>
				</div>
			</form>
		</div>
		<div class="five">
			<img alt="loading" src="../static/IMAGES/loading.gif">
			<h1>PROCESSING</h1>
		</div>
	</body>
</html>