<!DOCTYPE html>
<html>
	<head>
		<title>Confirm Payment</title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" type="text/css" href="../static/CSS/confirm_payment.css">
		
		<script type="text/javascript" src="../static/JS/Jquery.js"></script>
		<script type="text/javascript" src="../static/JS/confirm_payment.js"></script>
	</head>
	<body>
		<div class = "six">
			<div class="sixc1">
				<h4>Confirm the transaction. This page is valid for <span id="timer"></span></h4>
			</div>
			<div class="sixc2">
				Confirm your payment of <span id="finalFare">0</span>
			</div>
			<div class="sixc3">
				<input class="valid" id="btnCANCEL" type="button" name="btnCANCEL" value="Cancel Payment">
				<input class="valid" id="btnCONFIRM" type="button" name="btnCONFIRM" value="Confirm Transaction">
			</div>
		</div>
		<div class="seven">
			<img alt="loading" src="../static/IMAGES/loading.gif">
			<h1>PROCESSING</h1>
		</div>
	</body>
</html>
