<!DOCTYPE html>
<html>
	<head>
		<title>Railway Reservation Welcome</title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" type="text/css" href="../static/CSS/welcome.css">
		
		<script type="text/javascript" src="../static/JS/Jquery.js"></script>
		<script type="text/javascript" src="../static/JS/welcome.js"></script>
	</head>
	<body style="background-image: url('../static/IMAGES/train2.jpg');">
		<div class="twoc1">
			<h1 id="twoc1p2">Welcome to CS301's, <br/><br/><span>Railway Reservation Project</span></h1>
		</div>
		<br>
		<div class="twoc2">
			<form method="POST" action="">
				<input id="twoc2p1" type="button" name="proceed" value="LOGIN">
				<input id="twoc2p2" type="button" name="proceed" value="REGISTER">
			</form>
		</div>
	</body>
</html>